:root{
    --bg-color: #C9DABF;
    --primary-color:#9CA986;
    --segundary-color:#808D7C;
    --font:"Raleway", sans-serif;
}
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
}
header{
    background-color: var(--primary-color);
    text-align: center;
}
h1{
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 700;

}
nav {
    display: flex;
    justify-content: center;
    font-weight: 400;

}

nav a {
    text-decoration: none;
    color: var(--bg-color);
     margin: 0 2rem 1rem 0rem;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform 0.1s;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--bg-color);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
}
